{% extends "layout.html" %}
{% block content %}

	<main role="main" class="container">
		<div class="row">
			<h1>About Us</h1>
		</div>		
		<div class="row">
			<h2>Author - </h2>
			<h3>Oscar Luis Lopez Jr.</h3>
		</div>
		<div class="row">
			<h2>Purpose -</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia suscipit iaculis. Sed viverra posuere eros vel efficitur. Nullam id eros ex. Fusce dictum, nisi quis imperdiet finibus, quam nunc gravida nisl, sed facilisis lectus eros a erat. Donec mattis, ligula sed finibus euismod, est eros venenatis diam, non euismod leo tellus vel sapien.</h3>
		</div>
		<div class="row">
			<h2>Original Date Published -</h2>
			<h3>mm/dd/yy</h3>
		</div>
	</main>

{% endblock content%}